# Models and Outputs
models/
outputs/
eval_results_*/
eval_results/
cache_latents/
*.safetensors
*.ckpt
*.pt
*.pth

# Virtual Environment
.uv_venv/
uv.lock
.env
venv/

# Logs and Temporary files
*.log
*.out
tmp/
*.pyc
__pycache__/
.DS_Store

# Datasets
imagenet-mini/
dataset
*.jsonl
dataset/

# Status files
*.txt